{% extends "base.html" %}

{% block content %}
    <p>Stránka pro 3.B v roce 2021/2022. Lze zde naleznout Matějovy zápisky z většiny basic předmětů a vybraných seminářů.
    K psaní rovnic využívá stránka implementaci $KaTeX$ (<a href="https://katex.org">https://katex.org</a>). Jako ssg používám Zolu (<a href="https://www.getzola.org">https://www.getzola.org</a>).
    Bugy a problémy reportujte zde: <a href='https://github.com/cervthecoder/zapisky-2022/issues'>https://github.com/cervthecoder/zapisky-2022/issues</a>. Pokud by někdo měl problém
    s čímkoliv jiným, tak za mnou může zajít osobně (popřípadě učebna P3.2).
</p>
    
{% endblock content %}
